body{
    background-color: azure;
    border: 2px black solid;
    outline: 8px dotted gray;
    margin: 0px;
    padding: 0px;
    line-height: 1.5em;
    padding:0;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
   color: black;
}.container{
    width: 100%;
    position: fixed;
    top: 0;
    text-decoration: none;
    display:flex;
   flex-flow: row wrap;
   align-items: center;
    justify-content: space-evenly;
    margin: 0;
    background-color:black;
    color: white;
}
p{
    margin-left: 10px;
    margin-right: 10px;
}
#img1{
    padding-right: 200px;
    max-width: 100%;
}
nav label{
    color:white;
}
.input{
 max-width: 100%;
 margin-top: 10px;
 width: 100px;
height: 20px;
border-radius: 5px;
border: none;
}  
.img1{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: white;
    margin: 10px;
}
.p3{
    color: blue;
}
a:active{
    color:red;
}
a:hover{
    color:rgb(0, 255, 85);
}
h1{
    color: gray;
}
.blog{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
video{
    max-width: 100%;
    height: auto;
}
.section{
    height: 100%;
    margin-top: 10px;
    display:flex;
    column-gap: 40px;

} 
img{
    max-width:100%;
}
.footer{
    height: 100%;
    display:flex;
    flex-flow: row wrap;
    align-items: flex-end;
    column-gap:300px;
    background-color: black;
    color: white;
  /*  background-color: rgb(203, 203, 212);*/
}