body{
    background-color: rgb(194, 199, 178);
    border: 2px green solid;
    margin: 0px;
    padding: 0;
    line-height: 1.5em;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
     color:rgb(70, 2, 85);
}
.form{
    max-width: 100%;
}
.container{
    width: 100%;
    position:fixed;
    top:0px;
    text-decoration: none;
    display:flex;
   flex-flow: row wrap;
   align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
   /* background-color:rgb(203, 203, 212);*/
   background-color: black;
}
form input{
    max-width: 100%;
}
.pra2{
    max-width: 100%;

}
.form{
    max-width: 100;
}
#img1{
    padding-right: 200px;
    max-width: 100%;
}
.d2{
    max-width: 100%;
}
.d3{
        max-width: 100%;
 }
.d1{
    max-width: 100%;
}
.input{
    max-width: 100%;
    margin-top: 10px;
    width: 100px;
   height: 20px;
   border-radius: 5px;
   border: none;
   }  
a{
    text-decoration: none;
   color: white;
    margin: 10px;
}
a:active{
    color:red;
}
a:hover{
    color:rgb(0, 255, 85);
} 
h1{
    text-align: center;
    margin-top: px;
}
.form input,textarea{
    color: gray;
}
#p1{
    margin: 15px;
}
.par2{
    text-align: right;

}
/* 
body{
      background-color:#9b59b6;
      border: 2px black solid;
      margin: 0px;
      padding: 0;
      line-height: 1.5em;
      padding: 0;
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      color:  black;
  }*/
  nav label{
    color: white;
  }
  .container{
      width: 100%;
      position: fixed;
      top: 0;
      text-decoration: none;
      display:flex;
      flex-flow: row wrap;
      column-gap:25px;
      background-color: black;
  }
  .con{
     
      height: 100%;
      padding: 50px;
      box-sizing:border-box;
      font-family: 'open sans',sans-serif;
      border-radius: 2px;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0,0,0,0.3);
      width: 400px;
      margin-right: 50px;
      margin-bottom: 150px;
      max-width: 100%;
  }
  #img1{
      margin-right: 230px;
  }
  #logo{
      justify-self: flex-start;
      align-self: flex-start; 
  }
  a{
      text-decoration: none;
      color: white;
      margin: 10px;
  }
  a:active{
      color:red;
  }
  a:hover{
      color:rgb(0, 255, 85);
  }
  #logo{
      justify-self: flex-start;
      align-self: flex-start;
      margin-left: 200px;
  } 
  .input{
      max-width: 100%;
      margin-top: 10px;
      width: 100px;
     height: 20px;
     border-radius: 5px;
     border: none;
     }  
  p{
      margin-left: 10px;
  }
  .p1{
      color: white;
  }
  #face{
      color: blue;
  }
  audio{
      max-width: 100%;
      width: 200px;
  }
  .login{
      width:100%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: space-between;
  }
.form{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
nav label{
    color: white;
}

.footer{
    background-color:black;
    color: #f0f0f0;
    height: 100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: start;
    /*justify-content: space-between;*/
    column-gap:405px;
}
.li{
    color: blue;
}
   