body{
    background-color: rgb(150, 205, 155);
    border: 2px black solid;
    outline: 8px dotted gray;
    line-height: 1.5em;
    padding:0;
    margin: 0px;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
.container{
    width: 100%;
    position: fixed;
    top: 0;
    text-decoration: none;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /*
    background-color: rgb(203, 203, 212);*/
    background-color: black;
    align-items: center;
    padding: 0;
    margin: 0;
}
#img1{
    padding-right: 200px;
    max-width: 100%;
}
p{
    padding-right: 10px;
    padding-left: 10px;
}
.input{
    max-width: 100%;
    margin-top: 10px;
    width: 100px;
   height: 20px;
   border-radius: 5px;
   border: none;
   }  
a{
    text-decoration: none;
    color: #fff;
    margin: 10px;
}
a:active{
    color:red;
}
a:hover{
    color:rgb(0, 255, 85);
}
.service{
    max-width: 100%;
   /* background-color:grey;*/
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: 50px;
    height: 100%;
    grid-template-areas: 
                   "p img"; 
} 
.pra1{
   grid-area: p;
   padding-right: 30px;
   padding-left:10px;
}
#im{
    grid-area: img;
}
img{
    max-width:100%;
}
.button{
text-align:right;
} 
nav label{
    color: #fff;
} 
.footer{
   /* background-color: rgb(203, 203, 212);*/
   background-color: black;
   color: #fff;
    display:flex;
    flex-flow: row wrap;
    align-items:start;
    column-gap:300px;
}/*
.foot{
    background-color: burlywood;
}*/